{
  "root": true,
  "env": {
    "es6": true,
    "node": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "google"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "@typescript-eslint/no-empty-function": [
      "off",
      {
        "allow": [
          "constructors"
        ]
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "require-jsdoc": ["error", {
      "require": {
        // Remove accessors
        "MethodDefinition": false
      }
    }],
    "valid-jsdoc": [
      "error",
      {
        // Typescript with compodoc doesn't need this
        "requireParamType": false,
        "requireReturn": false,
        "requireReturnType": false
      }
    ]
  }
}
